main {
  background-color: white; 
  font-family: open sans;
  padding: 5px 20px;
}

.main-h2 {
    font-size: 1.6rem;
    font-weight: normal;
}

.main-p, .main-ul {
    font-size: 1rem;
    margin-left: 10px;
}

.main-ul li {
    padding: 5px 0px;
}

code {
    display: block;
    white-space: pre-line;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 0.8rem;
}