main {
  background-color: white; 
  font-family: open sans;
  padding: 0px 20px;
  text-align: left;
}

.main-h2 {
    font-size: 2rem;
    font-weight: 400;
}

.main-p, .main-ul {
    font-size: 1rem;
    margin-left: 10px;
}

.main-ul li {
    padding: 5px 0px;
}

code {
    display: block;
    white-space: pre-line;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 0.8rem;
}

section:last-of-type {
    padding-bottom: 100px;
}